.repo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
}
h2{
    color: rgb(28, 5, 88);
}
.repo-list-select{
    font-size: larger;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.repo-items > * {
    width: 100%;
}
.loading{
    color: aliceblue;
    background-color: rgb(216, 17, 17);
    width: 6rem;
}
.loading:hover{
    background-color: rgb(5, 54, 27);
}

@media screen and (max-width: 767px) {
    .repo-items {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}





